{% extends "base.html" %}
{% block nivel %}

    <h1><br/><br/>OBJETOS POKEMON</h1>
    <div class="guau">
        <form action="/nivel" method="post">
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                        <br/><br/><br/><br/><br/><br/><br/>
                    <input type="text" name="objeto" placeholder="Indica el objeto" autofocus required/>
                </div>
            </div>
            <div class="col-12">
                <ul class="actions">
                        <br/>
                    <li><input class= "button small" type="submit" value="Enviar" /></li>
                </ul>
            </div>
        </form>
    </div>

{% endblock %}