{% extends "base.html" %}
{% block nivel %}

    <h1><br/><br/>GUÍA OBJETOS</h1>
    <div class="guau">
        <form action="/nivel" method="post">
            <div class="col-12">
                    <p><br/><br/><br/>Escoge un objeto: </p>
                <div class="col-6 col-12-xsmall">
                    <select name="objeto">
                        {% for i in todoslosobj -%}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-12">
                <ul class="actions">
                        <br/>
                    <li><input class= "button small" type="submit" value="Enviar" /></li>
                </ul>
            </div>
        </form>
    </div>

{% endblock %}