{% extends "base.html" %}
{% block tcg %}

    <h1><br/><br/>CARTAS TCG</h1>
    <div class="guau">
        <form action="/tcg" method="post">
            <div class="col-12">
                    <p><br/><br/><br/>Escoge una carta: </p>
                    <div class="col-6 col-12-xsmall">
                            <select name="poketcg">
                                {% for i in todoslospoke -%}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                                </select>
                    </div>
            </div>
            <div class="col-12">
                    <ul class="actions">
                            <br/>
                        <li><input class= "button small" type="submit" value="Enviar" /></li>
                    </ul>
            </div>
        </form>
    </div>
{% endblock %}